* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "Noto Sans CJK SC", "Noto Sans CJK JP", "Roboto", "sans-serif";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    border-radius: 14px;
}

#pulse-window,
#clock,
#workspaces,
#taskbar,
#bluetooth-power
{
    background-color: black;
    border-radius: 10px;
    padding: 0 10px;
    margin: 4px 10px 4px -4px ;
    color: white;
    min-height: 24px;
}


#pulse-window {
    font-weight: 500;
    margin: 4px 0px 4px 10px;
}

#pulse-window > * {
    margin: 0 2px;
    padding: 0 0 2px 0;
}


#bluetooth-power {
    background-color: black;
    border-radius: 10px;
    padding: 0 4px;
    color: white;
}

#bluetooth-power * {
    background-color: transparent;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
} 

/*        TASKBAR        */
#taskbar {
    padding: 0 4px;
    margin: 4px 0px 4px 0px;
}

#taskbar button {
    transition: all 0.2s ease-in-out;
}

#taskbar button:hover {
    background: transparent;
    border-radius: 40%;
    border: 2px solid rgba(255, 255, 255, 0.8);
}

#taskbar button.active {
    border-bottom: 2px solid white;
    background: transparent;
}

#clock{
    padding: 4px 6px;
    min-width: 70px;
    margin: 4px 0px 4px 0px;
}

/*          WORKSPACES          */
#workspaces {
    padding: 0 0px;
}

#workspaces button {
    background-color: black;
    border-radius: 10px;
    padding: 0 10px;
    margin: 1px;
    color: white;
}

#workspaces button:hover {
    color: black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}


@keyframes blink {
    to {
        opacity: 0.5;
    }
}


tooltip {
    background-color: black;
    border: 1px solid rgba(137, 180, 250, 0.3);
    border-radius: 8px;
    color: white;
    font-size: 12px;
}

tooltip label {
    color: white;
}